{{ template "header.html" . }}
	<body>
		<h1>{{.Name}}</h1>
		<form action="../save/{{.Name}}" method="POST">
			<label for="body">New Entry Body:</label>
			<textarea name="body" rows="20" cols="80"></textarea><br />
			<input name="submit" type="submit" value="Save Entry" />
		</form> 

		{{range .Entries}}
		<h3>{{.Title}}</h3>
		<h5>{{.Date.Format "Monday Jan 2, 3:04 PM"}}</h5>
		<p>{{.Body}}</p>
		{{end}}
		<hr />
		<br />
		<div id="sidebar">
			<form action="../save/{{.Name}}" method="POST" id="changepass">
				<label for="password">New Password:</label>
				<input type="password" name="password" /><br />
				<label for="confirm">Confirm Password:</label>
				<input type="password" name="confirm" /><br />
				<input name="submit" type="submit" value="Change Password">
			</form>
		</div>
	</body>
{{ template "footer.html" . }}
